html, body {
    height: 100%;
}

div {
    margin: 8px;
    border: 1px dashed slateblue;
}

#külső {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#kérdés_szöveg {
}

#középső {
    display: flex;
    flex-direction: row;
    flex-grow: 1
}

#válaszok {
}

#vezérlő {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#kép {
    flex-grow: 1;
    flex-shrink: 1;
}

.gomb {
    padding: 20px;
    width: 80px;
}



.kattintható:hover {
    background-color: darkslateblue;
    color: white;
}

.rossz {
    background-color: lightsalmon;
    color: white;
}

.jó {
    background-color: lightgreen;
    color: white;
}
